* {
	font-family: "Roboto Mono", monospace;
}

section {
	min-height: 420px;
}

footer {
	min-height: 50px;
	padding-top: 12px;
}

.active {
	font-weight: bold;
}

.block-nav {
	height: 56px;
}

.sensor-main {
	max-width: 300px;
	min-width: 300px;
}
.sensor-main-number {
	line-height: 300px;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
